{
  "id": "alkemart-local-example",
  "name": "Alkemart local",
  "values": [
    {
      "key": "baseUrl",
      "value": "http://127.0.0.1:9000",
      "enabled": true
    },
    {
      "key": "publishableKey",
      "value": "pk_from_admin_or_storefront_env",
      "enabled": true
    },
    {
      "key": "memberToken",
      "value": "",
      "enabled": true
    },
    {
      "key": "sellerId",
      "value": "",
      "enabled": true
    },
    {
      "key": "adminToken",
      "value": "",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment"
}
